<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="fa-solid fa-gift" style="padding-right:1em;"></i>Loyalty Scheme</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/products/">
                <span class="fa-solid fa-box-open" style="padding-right:1em;" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/loyaltygroups/">
                        <span class="fa-solid fa-trophy" style="padding-right:1em;"  aria-hidden="true"></span> Loyalty Groups
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/loyaltyschemes/">
                <span class="fa-solid fa-gift" style="padding-right:1em;" aria-hidden="true"></span> Loyalty Schemes
            </NavLink>
        </div>

        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
