@page "/loyaltygroups"

@using Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject NavigationManager navManager

<h3>Loyalty Groups</h3>
<a class="btn btn-success mb-4" href="/loyaltygroups/create"><i class="oi oi-plus"></i> Create New Loyalty Group</a>

<div class="row">
    <div class="col">
    <input type="text" placeholder="Search by Loyalty Group ID or Name" style="min-width:20em;"
           @bind="filterLoyaltyGroup"
           @bind:event="oninput" />
    </div>
    <div class="col align-content-end">
        <p>Select a loyalty group below to edit</p>
    </div>
</div>



@if (allLoyaltyGroups == null || filteredLoyaltyGroups == null)
{
    <p>Loading ....</p>
}
else
{
    <table class="table table-hover align-content-start">
        <thead>
            <tr>
                <td>Id</td>
                <td class="px-4">Image</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach(var loyaltyGroup in filteredLoyaltyGroups)
            {
                if (!IsVisible(loyaltyGroup))
                    continue;
                <tr @onclick="() => Select(loyaltyGroup)">
                    <td>@loyaltyGroup.id</td>
                    <td class="px-4">
                        @if (string.IsNullOrEmpty(loyaltyGroup.image))
                        {
                            <img
                        src=@string.Concat("/images/",placholderImage)
                        alt="@loyaltyGroup.name" 
                        style="max-height:50px;"/>
                        }else
                        {
                            <img
                        src=@string.Concat("/images/",loyaltyGroup.image)
                        alt="@loyaltyGroup.name" 
                        style="max-height:50px;"/>
                        }
                    </td>
                    <td>@loyaltyGroup.name</td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    private List<LoyaltyGroup>? allLoyaltyGroups, filteredLoyaltyGroups = new List<LoyaltyGroup>();

    private string allLoyaltyGroupsEndpoint = "https://localhost:7240/api/LoyaltyGroups";

    string filterLoyaltyGroup = string.Empty;

    string placholderImage = "placeholder.png";

    protected override async Task OnInitializedAsync()
    {
        await LoyaltyAPICall();
        filteredLoyaltyGroups = allLoyaltyGroups;
    }



    private async Task LoyaltyAPICall()
    {
        var request = new HttpRequestMessage(
                        HttpMethod.Get,
                        allLoyaltyGroupsEndpoint
                    );

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var stream = await response.Content.ReadAsStreamAsync();
            allLoyaltyGroups = await JsonSerializer.DeserializeAsync<List<LoyaltyGroup>>(stream);
        }
        else
        {
            // TODO: Handle error - display message
            System.Console.WriteLine("Something went wrong - Please try again later...");
        }
        StateHasChanged();
    }

    private bool IsVisible(LoyaltyGroup loyaltyGroupSearch)
    {
        if (string.IsNullOrEmpty(filterLoyaltyGroup))
        {
            return true;
        }

        if (loyaltyGroupSearch.name!.Contains(filterLoyaltyGroup, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
       
        if (loyaltyGroupSearch.id.ToString()!.Contains(filterLoyaltyGroup, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        return false;
    }

    private void Select(LoyaltyGroup selectedGroup)
    {
        navManager.NavigateTo("/loyaltygroups/edit/" + selectedGroup.id);
    }
}